body {
  background: #ffffff;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-image: url(img/thumb-1920-668137.jpg);

}

main {
  max-width: 400px;
  margin: auto;
  background-color: grey;
  border-radius: 10px;
  border: 2px solid black;
 padding: 1%;
}
main h1{
  background-color: red;
  border-radius: 10px;
   border: 2px solid black;

}

input {
  padding: 8px;
  width: 80%;
  margin: 5px;
}

.btn {
  padding: 8px 12px;
  cursor: pointer;
}

#resultado img {
  width: 120px;
}

#resultado {
  margin-top: 15px;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  border: 2px solid black;
}